

<!-- 一列 -->

<div class="product-list-template2">

    <div ng-if="Data.Banner.length" banner="Data.Banner"></div>

    <div ng-if="Data.Advert" advert-list data-data="Data.Advert" data-statistics="$advertStatistics"></div>

    <div class="product-list" ng-if="!Data.List.length">
        <a href="javascript:;" class="product-item" ng-repeat="Item in [1,2,3,4]">
            <div class="cover" style="background: #eeeeee;">
                <img ng-src="./imgs/product_list_template1/login_cover.png">
            </div>
            <p style="margin-top: .5rem;">
                <span style="display: block; margin-top: .1rem; line-height: initial; color: #eeeeee; background: #eeeeee; width: 50%">产品信息</span>
                <span style="display: block; margin-top: .1rem; line-height: initial; color: #eeeeee; background: #eeeeee; width: 90%">产品信息</span>
            </p>
            <p>
                <span style="display: block; margin-top: .1rem; line-height: initial; color: #eeeeee; background: #eeeeee; width: 50%">产品信息</span>
                <span style="display: block; margin-top: .1rem; line-height: initial; color: #eeeeee; background: #eeeeee; width: 90%">产品信息</span>
            </p>
            <p>
                <span style="display: block; margin-top: .1rem; line-height: initial; color: #eeeeee; background: #eeeeee; width: 50%">产品信息</span>
                <span style="display: block; margin-top: .1rem; line-height: initial; color: #eeeeee; background: #eeeeee; width: 90%">产品信息</span>
            </p>
        </a>
    </div>

    <div class="product-list" ng-if="Data.List.length">
        <a href="{{Item.Url}}" class="product-item" ng-repeat="Item in Data.List" ng-click="$productStatistics.click(Item.ProductNo)">
            <div class="cover">
                <img ng-if="Item.ProductBanner[0]" ng-src="{{Item.ProductBanner[0].Image.Thumb}}" ng-alt="{{Item.ProductName}}">
            </div>
            <h6>
                <span class="tag" ng-if="Item.PromotionTagText">{{Item.PromotionTagText}}</span>
                <span ng-bind-html="Item.ProductName | trustHtml"></span>
            </h6>
            <p ng-bind-html="Item.ShortDesc | trustHtml"></p>
            <p class="sale"><i>￥</i><span>{{Item.SalePrice}}</span></p>
            <div class="tianjia">
                <img src="./imgs/product_list_template1/slgsbtn.png" alt="" style="margin-right:20px;">
            </div>
        </a>
    </div>
</div>